conf t
router bgp {{r2_dict.asn}}
no auto-summary
no synchronization
neighbor {{r1_dict.s0_0}} remote-as {{r1_dict.asn}}
neighbor {{r3_dict.s0_1}} remote-as {{r3_dict.asn}}
network {{r2_dict.wan_net1}} mask {{r2_dict.wan_mask}}
network {{r2_dict.wan_net2}} mask {{r2_dict.wan_mask}}
network {{r2_dict.lo0_net}} mask {{r2_dict.lan_mask}}
network {{r2_dict.lo1_net}} mask {{r2_dict.lan_mask}}
network {{r2_dict.lo2_net}} mask {{r2_dict.lan_mask}}
network {{r2_dict.lo3_net}} mask {{r2_dict.lan_mask}}