conf t
router bgp {{r3_dict.asn}}
no auto-summary
no synchronization
neighbor {{r4_dict.s0_0}} remote-as {{r4_dict.asn}}
neighbor {{r2_dict.s0_1}} remote-as {{r2_dict.asn}}
network {{r3_dict.wan_net1}} mask {{r3_dict.wan_mask}}
network {{r3_dict.wan_net2}} mask {{r3_dict.wan_mask}}
network {{r3_dict.lo0_net}} mask {{r3_dict.lan_mask}}
network {{r3_dict.lo1_net}} mask {{r3_dict.lan_mask}}
network {{r3_dict.lo2_net}} mask {{r3_dict.lan_mask}}
network {{r3_dict.lo3_net}} mask {{r3_dict.lan_mask}}